.slider {
  height: 100%;
  width: 100%;
}

.slick-track .slick-slide .slick-list{
  display: flex;
  height: auto;
}

@media (max-width: 640px) {
  .slider{
    padding: 3px;
    border-bottom: #4e086e 1px dashed;
    border-top: #4e086e 1px dashed;
  }
}