@import "../../styles/Mixins.scss";

.footer {
  background-color: #251f23;
  height: 90px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;

  i {
    font-size: 4rem;
    line-height: normal;
    color: #ed1779;
  }
}

.content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

.login{
  flex-direction: column;
  display: flex;
  justify-content: center;
  @include big_text;
  @include light_gray_font;
  text-align: center;
  width: 200px;
}

.workTime {
  flex-direction: column;
  display: flex;
  justify-content: center;
  @include medium_text;
  @include light_gray_font;
  text-align: center;
  width: 200px;
}

.cart {
  text-align: center;
  text-decoration: none;
  color: #ed1779;
  @include big_text();
  display: flex;
  flex-direction: column;
  transform: scale(0.7);
  &:hover{
    transform: scale(0.8);
  }
}


.socials_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social {
  width: 30px;
  height: 30px;
}

.sociallink_svg {
  margin: 4px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  vertical-align: baseline;
  object-fit: contain;
  object-position: center;
  &:hover{
    transform: scale(1.2);
  }
}

@media (max-width: 500px) {
  .content_wrapper {
    width: 97%
  }
}