@use "../../../styles/Mixins.scss";

.hotspot {
  width: 280px;
  height: 640px;
  box-shadow: 0 4px 8px 0 rgb(189, 189, 189), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  margin: 10px;
  padding: 3px;
}

.hotspot_title {
  @include Mixins.big_text;
  padding-bottom: 10px;
  height: 10%;
}

.product_content_wrapper {
  display: flex;
  height: 90%;
  width: 100%;
  flex-direction: column;
}

@media (max-width: 640px) {
  .hotspot {
    width: 100%;
    border: none;
    height: min-content;
  }
  .product_content_wrapper {
    height: min-content;
  }
  .hotspot_title {
    padding-bottom: 5px;
    height: min-content;
    line-height: 1.9rem;
  }
}