@import "../../../styles/Mixins";

.hotspot {
  width: 280px;
  height: 420px;
  background-color: #e1dfdf;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  border: 1px dashed #c84fff;
  margin: 10px;
  padding: 3px;
}

.hotspot_title {
  @include big_text;
  padding-bottom: 10px;
  height: 10%;
}

.product_content_wrapper {
  display: flex;
  height: 90%;
  width: 100%;
  flex-direction: column;
}

@media (max-width: 640px) {
  .hotspot {
    width: 100%;
    border: none;
    height: min-content;
  }
  .product_content_wrapper {
    height: min-content;
  }
  .hotspot_title {
    padding-bottom: 5px;
    height: min-content;
    line-height: 1.9rem;
  }
}