@use "../../../../styles/Mixins.scss";
@use "../../../../styles/ProductMixins.scss";

.content_wrapper {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgb(189, 189, 189), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: #f2f2f2;
  height: 350px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.product_image {
  @include ProductMixins.product_image
}

.product_title {
  @include ProductMixins.product_title;
}

.price_count {
  border-bottom: 1px dotted #4e086e;
  border-top: 1px dotted #4e086e;
  margin-top: 10px ;
  width: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  @include Mixins.medium_text;
  align-items: flex-start;
  height: 50px;
}

.product_buttons_wrapper {
  @include ProductMixins.product_buttons_wrapper
}

.product_button {
  @include ProductMixins.product_button
}

.product_button_text {
  @include ProductMixins.product_button_text
}

.product_price {
  @include ProductMixins.product_price
}

.title_block {
  width: 46%;
}

