@import "../../../../styles/Mixins";
@import "../../../../styles/ProductMixins";

.content_wrapper {
  border-radius: 8px;
  border: 1px solid #c84fff;
  box-shadow: 0 4px 8px 0 rgb(153, 83, 186), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #dcd0dc;
  height: 350px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.product_image {
  @include product_image
}

.product_title {
  @include product_title;
}

.price_count {
  border-bottom: 1px dotted #4e086e;
  border-top: 1px dotted #4e086e;
  margin-top: 10px ;
  width: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  @include medium_text;
  align-items: flex-start;
  height: 50px;
}

.product_buttons_wrapper {
  @include product_buttons_wrapper
}

.product_button {
  @include product_button
}

.product_button_text {
  @include product_button_text
}

.product_price {
  @include product_price
}

.title_block {
  width: 46%;
}

