.logo_container {
  flex-grow: 1;
  width: 90%;
  height: calc(100% - 450px);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 40%;
}

.logo_img {
  padding: 5px;
  border-radius: 30%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 640px) {
  .logo_container {
    width: 70%;
  }
}