@use "../../../styles/Mixins.scss";

.table_wrapper{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(189, 189, 189), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fafafa;
  padding: 15px;
  margin: 10px;
  width: 100%;
  height: calc(100vh - 80px);
}

.table{
  @include Mixins.medium_text;
  width: 100%;
  height: max-content;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    height: 3px;
  }
  &::-webkit-scrollbar-track {
    margin: auto;
    background: #3f3f3f;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #222222;
    border-radius: 5px;
    height: 30px;
  }
}

.table th,
.table td {
  border: 2px solid #222222;
  border-collapse: collapse;
  vertical-align: middle;
  padding: 8px 12px;
  height: auto;
}

.table th {
  background-color: #fafafa;
}

.table tr:hover td {
  background-color: #a6a6a6;
}

.table tr:first-child th {
  border-top: none;
}
.table tr:last-child td {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: none;
}
.table tr td:first-child,
.table tr th:first-child {
  border-left: none;
}
.table tr td:last-child,
.table tr th:last-child {
  border-right: none;
}

.absolute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}