@import "../../styles/Mixins.scss";

.popup {
  @include popup;
}

.but_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.but {
  display: flex;
  transition: 0.2s all;

  i {
    font-size: 2rem;
    color: #fff;
  }

  &:active {
    transform: scale(0.98);
  }
}

.img {
  height: 70%;
  width: 80vw;
  border-radius: 8px;
  overflow: hidden;
  margin: 5px auto;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: min-content;
  overflow-x: auto;
  margin: 0 auto;
  &::-webkit-scrollbar {
    height: 3px;
  }
  &::-webkit-scrollbar-track {
    margin: auto;
    background: #3f3f3f;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c14ff4;
    border-radius: 5px;
    height: 30px;
  }
}

.title {
  color: #fff;
  white-space: nowrap;
  margin-top: 5px;
  line-height: 2rem;
  text-align: center;
  @include huge_text;
}

.description {
  @include big_text;
  color: #fff;
  width: 90%;
  margin: 20px auto;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    margin: auto;
    background: #3F3F3F82;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c14ff4;
    border-radius: 5px;
    height: 30px;
  }
}

