@import "../../../../styles/Mixins";

.popup_img {
  @include popup_img
}

.popup {
  @include popup
}

.image_container {
  max-width: 40%;
  float:left;
}

.img_zoomable {
  @include img_zoomable;
}

.img_column {
  padding: 10px;
  overflow: hidden;
}

.image {
  border: 2px solid #c84fff;
  box-shadow: 0 4px 6px 0 rgb(153, 83, 186), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}