@import "../../../styles/Mixins";

.home {
  @include content
}

.title {
  @include content_title;
  text-align: center;
}

b {
  @include huge_text;
  font-style: italic;
}

.description {
  @include content_descr;
  line-height: 2.5rem;
}
