@font-face {
  font-family: Tilda-Sans; /* Имя шрифта */
  src: url(fonts/TildaSans-Semibold.woff); /* Путь к файлу со шрифтом */
}

@mixin content {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

@mixin content_title {
  @include huge_text;
  color: #ac23e8;
  font-style: italic;
  margin-bottom: 15px;
  border-bottom: 2px solid #c84fff;
}

@mixin content_descr {
  @include big_text;
  @include dark_gray_font;
  line-height: 2.75rem;
}

@mixin huge_text {
  font-size: 2.25rem;
  font-family: Tilda-Sans, sans-serif;
}

@mixin big_text {
  font-size: 1.875rem;
  font-family: Tilda-Sans, sans-serif;
}

@mixin medium_text {
  font-size: 1rem;
  font-family: Tilda-Sans, sans-serif;
}

@mixin small_text {
  font-size: 0.75rem;
  font-family: Tilda-Sans, sans-serif;
}

@mixin dark_gray_font {
  color: #282828;
}

@mixin light_gray_font {
  color: #CECECED6;
}

@mixin popup {
  padding: 10px;
  animation: show_popup 0.7s ease;
  overflow: hidden;
  height: 90vh;
  width: min-content;
  position: fixed;
  background-color: #32242d;
  border-radius: 8px;
  border: 2px solid #c84fff;
  box-shadow: 0 4px 20px 0 rgb(153, 83, 186), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin popup_img {
  border-radius: 8px;
  width: max-content;
  max-width: 90vw;
  height: 100%;
  background-size: contain;
  transition: none;
}

@mixin button {
  @include medium_text;
  background: #c14ff4;
  text-align: center;
  height: 20px;
  border-radius: 12px;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s all;
  user-select: none;
  border: 1px solid black;

  i {
    font-size: 1.6rem;
    line-height: normal
  }

  &:hover {
    background-color: #9fa8f3;
  }

  &:active {
    transform: scale(0.98);
  }
}

@mixin img_zoomable {
  cursor: zoom-in;
  background: center center / cover no-repeat;
  width: 100%;
  margin-bottom: 20px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
}

@keyframes show_popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
