@use "./Mixins.scss";

@font-face {
  font-family: Tilda-Sans; /* Имя шрифта */
  src: url(fonts/TildaSans-Semibold.woff); /* Путь к файлу со шрифтом */
}

@mixin product_buttons_wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  flex-shrink: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-radius: 8px;
}

@mixin product_button {
  margin: 2px;
  width: 30%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  display: flex;
  transition: 0.2s all;
  border-radius: 8px;
  background: #257ae8;
  i {
    font-size: 1.6rem;
    line-height: normal
  }
  &:hover {
    background-color: #185eba;
  }
  &:active {
    transform: scale(0.98);
  }
}

@mixin product_button_text {
  height: 80%;
  width: auto;
}

@mixin product_price {
  margin: 2px;
  width: 40%;
  background-color: #f2f2f2;
  @include Mixins.medium_text;
  @include Mixins.dark_gray_font;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

@mixin product_image {
  border-radius: 5px;
  overflow: hidden;
  width: 90%;
  height: 200px;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


@mixin product_title {
  @include Mixins.big_text;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  text-align: center;
  width: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin product_description {
  margin-top: 5px;
  @include Mixins.medium_text;
  display: flex;
  flex-grow: 1;
  justify-content: left;
  width: 90%;
  height: auto;
  overflow: auto;
  border-radius: 5px;
  border: 1px solid #3f3f3f;
  padding: 5px;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    margin: auto;
    background: #3F3F3F82;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #222222;
    border-radius: 8px;
    height: 30px;
  }
}



